@media (max-width: 992px) {

  h1,
  .h1 {
    font-size: 50px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }

  h3,
  .h3 {
    font-size: 30px;
  }

  h4,
  .h4 {
    font-size: 25px;
  }

  h5,
  .h5 {
    font-size: 22px;
  }

  h6,
  .h6 {
    font-size: 16px;
  }


  header .header-inner {
    padding: 15px 0;
  }

  header .logo {
    top: -15px;
  }

  header+section,
  header+div {
    margin-top: 55px;
  }

  .banner .carousel-item img {
    height: 600px;
  }

  .primary-menu-outer {
    position: fixed;
    background-color: #F6D30F;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 999999;
    transition: all 300ms ease-in;
    visibility: hidden;
  }

  .primary-menu-outer.active {
    left: 0;
    visibility: visible;
  }

  .primary-menu-outer .menu-close {
    position: absolute;
    right: 15px;
    border: 1px solid #D81405;
    color: #D81405;
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    top: 10px;
  }

  .menu-open {
    display: inline-block;
    margin-left: auto;
    border: 1px solid #D81405;
    color: #D81405;
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

    border-radius: 5px;
    top: 10px;
  }

  .primary-menu {
    background-color: #F6D30F;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  #Gallery .gallery-content .gallery-body .single-gallery {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .menu-section.menues-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even),
  .menu-section .menu-items-list .row .menu-item-box-wrapper:nth-child(odd),
  .menu-section.chicken-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even),
  .menu-section.burgers-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
    margin-top: 0;
  }

  .menu-section .menu-items-list .menu-item-box .item-info {
    justify-content: center !important;
  }

  .menu-section .menu-items-list .menu-item-box .item-img {
    text-align: center;
  }

  .menu-section.drinks-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
    margin-top: 90px;
  }

  .banner .carousel-item .item-content {
    padding-top: 150px;
  }

  .banner .carousel-item.with-burger .item-content {
    padding-top: 150px;
  }
}

@media (max-width: 767px) {

  body {
    font-size: 14px;
    line-height: 20px;
  }

  h1,
  .h1 {
    font-size: 37px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }

  .banner h1 .big {
    font-size: 40px;
  }

  header .logo {
    max-width: 175px;
  }

  header.fixed-header .logo {
    max-width: 50px;
  }

  .banner .carousel-item .item-content p {
    padding: 0;
    font-size: 15px;
    line-height: 22px;

  }

  .banner .brand-logos-wrapper .brand-logos-list li img {
    max-width: 75px;
  }

  .banner .brand-logos-wrapper .brand-logos-list li+li {
    margin-left: 10px;
  }

  .banner .carousel-item img {
    height: 640px;
  }

  .menu-section {
    padding-top: 50px;
  }

  .menu-section h2 {
    font-size: 35px !important;
    margin-bottom: 40px;
  }

  .menu-section .resturant-menu-wrapper .resturant-menu {
    background: none !important;
  }

  .menu-section .resturant-menu-wrapper .resturant-menu li {
    border-left: 0 !important;
    text-align: center;
    color: #D81405;
    line-height: 1.5;
    font-size: 32px;
    font-family: 'Candal', sans-serif;
    flex-grow: 1;
  }

  .menu-section .resturant-menu-wrapper .resturant-menu {
    margin-bottom: 75px !important;
  }

  .menu-section .resturant-menu-wrapper .resturant-menu::before {
    content: none !important;
  }

  .menu-section .menu-items-list .menu-item-box .item-info .item-price {
    height: 70px;
    flex: 0 0 70px;
    width: 70px;
    line-height: 70px;
    font-size: 29px !important;
  }

  .banner .carousel-item .item-content {
    padding-top: 75px;
  }

  .banner .carousel-item.with-burger .item-content {
    padding-top: 75px;
  }

  .menu-section.drinks-section .menu-items-list .menu-item-box .item-info .item-name span {
    font-size: 20px;
  }

  .menu-section.drinks-section .menu-items-list .menu-item-box .item-info .item-name em {
    font: 18px;
  }

  footer {
    border-radius: 30px 30px 0px 0px;
    margin-top: -30px;
    position: relative;
    z-index: 999;
  }

  footer .footer-brands li img {
    max-width: 100px;
  }

  .footer-links li+li {
    margin-top: 20px;

  }

  .banner .carousel-item .container {
    padding: 0 35px;
  }

  .banner .carousel-indicators {
    bottom: 30px;
  }

  /* .banner .carousel-item  */
  .banner .carousel-control-prev,
  .banner .carousel-control-next {
    height: 30px;
    width: 30px;
  }

  .banner .carousel-item .container {
    padding: 0 25px;
  }

  .banner .carousel-indicators li {
    width: 12px;
    height: 12px;
  }

  .banner.banner-2 .carousel-item .item-content p {
    font-weight: normal;
  }

  .banner.banner-2 .carousel-item .item-content p {
    padding: 0;
  }

  .menu-section .menu-items-list .menu-item-box .item-info .item-name {
    font-size: 28px;
  }

}