header .logo {
  position: absolute;
  top: -30px;
  left: 0;
  display: inline-block;
  max-width: 100%;
  /* max-width: 300px; */
}

header .primary-menu li a {
  padding: 28px 20px;
  color: #1C1C1C;
  font-weight: bold;
  display: inline-block;
  font-size: 22px;
}

header .btn-translate {
  font-size: 16px;
  text-decoration: underline;
}

header.fixed-header .logo {
  max-width: 100px;
  position: static;
}

/* banner =========================== */
header+section,
header+div {
  margin-top: 80px;
}

.banner .carousel-item {
  position: relative;
}

.banner .carousel-item .container {
  padding: 0 25px;
}

.banner .brand-logos-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.banner .brand-logos-wrapper .brand-logos-list li+li {
  margin-left: 30px;
}


.banner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.banner .carousel-item img {
  height: 725px;
  object-position: center;
  object-fit: cover;
}

.banner .carousel-item .item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 200px;
  z-index: 2;
}

.banner .carousel-item.with-burger .item-content{
  padding-top: 300px;
}

.banner.banner-2 .carousel-item .item-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding-top: 0;
  transform: translateY(-50%);
  z-index: 2;

}

.banner .carousel-item .item-content h1,
.banner .carousel-item .item-content h2 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
    0 4px 4px rgba(0, 0, 0, 0.25);
}
.banner .carousel-item .item-content h2{
  font-weight: bold;
}
.banner .carousel-item .item-content p {
  padding-left: 20%;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),
    0 2px 2px rgba(0, 0, 0, 0.5),
    0 -2px 4px rgba(0, 0, 0, 0.6);
  line-height: 1.2;
}

.banner.banner-2 .carousel-item .item-content p {
  padding-left: 0;
  padding-right: 15%;
}


.banner .carousel-control-prev,
.banner .carousel-control-next {
  z-index: 3;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  height: 50px;
  width: 50px;

}

.banner .carousel-control-prev:hover,
.banner .carousel-control-next:hover {
  color: #D81405;

}

.banner .carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}


.banner h1 .big{
  font-size: 72px;
}
/* menu section ================================== */
.menu-section .container {
  max-width: 1080px;
}

.menu-section {
  background: url(../images/burgers/burgers-bg.png) no-repeat center;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 150px;
}

.menu-section.sandwiches-section {
  background-image: url(../images/sandwich/sandwich-bg.png);
}

.menu-section .resturant-menu-wrapper .resturant-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 225px;
  position: relative;
}

.menu-section .resturant-menu-wrapper .resturant-menu::before {
  content: "SANDWICHES";
  background: url('../images/sandwich/tag-bg.png') no-repeat center top;
  position: absolute;
  top: 100%;
  height: 228px;
  width: 278px;
  height: 228px;
  right: 9%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 75px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Candal', sans-serif;
  font-size: 35px;
}

.menu-section .resturant-menu-wrapper .resturant-menu li a {
  padding: 25px 10px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

.menu-section .menu-items-list {
  margin-top: -00px;
}

.menu-section .menu-items-list .menu-item-box .item-info {
  display: flex;
  align-items: center;
}

.menu-section .menu-items-list .menu-item-box .item-info .item-name {
  line-height: 1;
  font-size: 45px;
  display: inline-flex;
  flex-direction: column;
}

.menu-section .menu-items-list .menu-item-box .item-info .item-name span {

  margin-bottom: 10px;
}

.menu-section .menu-items-list .menu-item-box .item-info .item-name em {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;


}

.menu-section .menu-items-list .menu-item-box .item-info .item-price {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #D81405;
  color: #ffffff;
  flex:  0 0 143px;
  height: 143px;
  width: 143px;
  text-align: center;
  line-height: 143px;
  margin-bottom: 0;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 65px;
}

.menu-section .menu-items-list .row .menu-item-box-wrapper:nth-child(odd) {
  margin-top: -150px;
}

.menu-section .resturant-menu-wrapper .resturant-menu::before {
  content: "SANDWICHES";
  background: url('../images/tag-red.png') no-repeat center top;
  position: absolute;
  top: 100%;
  height: 228px;
  width: 278px;
  height: 228px;
  right: 9%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 75px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Candal', sans-serif;
  font-size: 35px;
}

/* menu chicken =============== */
.menu-section.chicken-section {
  background-image: url('../images/chicken/chiken-bg.png');
}

.menu-section.chicken-section .resturant-menu-wrapper .resturant-menu::before {
  content: "chicken";
  background: url('../images/tag-yellow.png') no-repeat center top;
  height: 286px;
  right: auto;
  left: 22%;
  color: #D81405;
}

.menu-section.chicken-section .menu-items-list .row .menu-item-box-wrapper:nth-child(odd) {
  margin-top: 0;
}

.menu-section.chicken-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
  margin-top: -150px;
}

/* sides chicken =============== */
.menu-section.sides-section {
  background-image: url('../images/sides/sides-bg.png');
}

.menu-section.sides-section .resturant-menu-wrapper .resturant-menu::before {
  content: "Sides";
}

.menu-section.sides-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
  margin-top: 50px;

}

/* menues ===================== */
.menu-section.menues-section {
  background-image: url('../images/menus/menu-bg.png');
}

.menu-section.menues-section .resturant-menu-wrapper .resturant-menu::before {
  content: "Menues";
  background: url('../images/tag-yellow.png') no-repeat center top;
  height: 286px;
  right: auto;
  left: 22%;
  color: #D81405;
}


.menu-section.menues-section .menu-items-list .row .menu-item-box-wrapper:nth-child(odd) {
  margin-top: 0;
}

.menu-section.menues-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
  margin-top: -200px;
}

/* drinks ============= */
.menu-section.drinks-section {
  background-image: url('../images/drinks/drinks-bg.png');
}

.menu-section.drinks-section .menu-items-list .row .menu-item-box-wrapper:nth-child(odd) {
  margin-top: 0;
}

.menu-section.drinks-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
  margin-top: -80px;
}

.menu-section.drinks-section .menu-items-list .menu-item-box .item-info .item-name span {
  font-size: 25px;
  margin-bottom: 0;
}

.menu-section .resturant-menu-wrapper .resturant-menu {
  margin-bottom: 325px;
}

.menu-section.drinks-section .menu-items-list .menu-item-box .item-info .item-name em {
  font-size: 20px;
}

.menu-section.drinks-section .menu-items-list .menu-item-box .item-info .item-price {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  flex: 0 0 55px;
}

.menu-section.drinks-section .resturant-menu-wrapper .resturant-menu::before {
  content: "Drinks";
  height: 286px;
  left: 45%;
}


/* burgers ================= */
.menu-section.burgers-section {
  background-image: url(../images/burgers/burgers-bg.png);
 
}

.menu-section.burgers-section .resturant-menu-wrapper .resturant-menu::before {
  content: none;

}

.menu-section.burgers-section .resturant-menu-wrapper .resturant-menu {
  background:
    linear-gradient(180deg, #FFFFFF 0%, rgba(231, 231, 231, 0) 100%);
  border-radius: 10px;
  margin-bottom: 50px;
}

.menu-section.burgers-section .resturant-menu-wrapper .resturant-menu li {
  flex-grow: 1;
  text-align: center;
  border-image-slice: 1;
  border-left: 1px solid;
  border-image-source: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.menu-section.burgers-section .resturant-menu-wrapper .resturant-menu li:first-child {
  border-left: 0;
}

.menu-section.burgers-section h2 {
  font-size: 45px;
  margin-bottom: 100px;
}

.menu-section.burgers-section .menu-items-list .row .menu-item-box-wrapper:nth-child(odd) {
  margin-top: 0;
}

.menu-section.burgers-section .menu-items-list .row .menu-item-box-wrapper:nth-child(even) {
  margin-top: -150px;
}

#MapSection {
  line-height: 0;
}



footer {
  border-bottom: 20px solid rgba(87, 20, 15, 1);
}

footer .footer-links li a {
  color: #AAAAAA;
}

footer .footer-links li a:hover {
  color: #D81405;
}

footer .text-copyright {
  color: rgba(240, 240, 240, 0.4);
}